html {
  height: 100%;
  width: 100%;
}
body{
  background-color: bisque;
}
.navigation{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
ul{
  list-style-type: none;
}
ul li{
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 200px;
  height: 40px;
  background-color: #ececec;
  
}
ul li a{
  font-size: 20px;
  text-decoration: none;
  color: black;
}
